In [1]:
from sqlalchemy import create_engine
import sqlalchemy
engine = create_engine(\
'sqlite:////home/tukai/data/nobel_prize.db', echo=True)

In [2]:
nobel_winners = [
{'category': 'Physics',
'name': 'Albert Einstein',
'nationality': 'Swiss',
'sex': 'male',
'year': 1921},
{'category': 'Physics',
'name': 'Paul Dirac',
'nationality': 'British',
'sex': 'male',
'year': 1933},
{'category': 'Chemistry',
'name': 'Marie Curie',
'nationality': 'Polish',
'sex': 'female',
'year': 1911}
]

In [3]:
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()

In [4]:
from sqlalchemy import Column, Integer, String, Enum

In [5]:
class Winner(Base):
    __tablename__ = 'winners'
    id = Column(Integer, primary_key=True)
    name = Column(String)
    category = Column(String)
    year = Column(Integer)
    nationality = Column(String)
    sex = Column(Enum('male', 'female'))
    def __repr__(self):
        return "<Winner(name='%s', category='%s', year='%s')>"\
            %(self.name, self.category, self.year)

In [6]:
Base.metadata.create_all(engine)

2018-07-08 13:50:04,092 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2018-07-08 13:50:04,093 INFO sqlalchemy.engine.base.Engine ()
2018-07-08 13:50:04,095 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2018-07-08 13:50:04,096 INFO sqlalchemy.engine.base.Engine ()
2018-07-08 13:50:04,100 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("winners")
2018-07-08 13:50:04,101 INFO sqlalchemy.engine.base.Engine ()

In [7]:
from sqlalchemy.orm import sessionmaker
Session = sessionmaker(bind=engine)
session = Session()

In [8]:
session.execute('''DELETE FROM Winners''')
session.commit()

2018-07-08 13:50:04,453 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-07-08 13:50:04,459 INFO sqlalchemy.engine.base.Engine DELETE FROM Winners
2018-07-08 13:50:04,461 INFO sqlalchemy.engine.base.Engine ()
2018-07-08 13:50:04,463 INFO sqlalchemy.engine.base.Engine COMMIT

In [9]:
albert = Winner(**nobel_winners[0])
session.add(albert)
session.new

IdentitySet([<Winner(name='Albert Einstein', category='Physics', year='1921')>])

In [10]:
session.expunge(albert)
session.new

IdentitySet([])

In [11]:
winner_rows = [Winner(**w) for w in nobel_winners]
session.add_all(winner_rows)
session.commit()

2018-07-08 13:50:04,999 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-07-08 13:50:05,002 INFO sqlalchemy.engine.base.Engine INSERT INTO winners (name, category, year, nationality, sex) VALUES (?, ?, ?, ?, ?)
2018-07-08 13:50:05,003 INFO sqlalchemy.engine.base.Engine ('Albert Einstein', 'Physics', 1921, 'Swiss', 'male')
2018-07-08 13:50:05,005 INFO sqlalchemy.engine.base.Engine INSERT INTO winners (name, category, year, nationality, sex) VALUES (?, ?, ?, ?, ?)
2018-07-08 13:50:05,007 INFO sqlalchemy.engine.base.Engine ('Paul Dirac', 'Physics', 1933, 'British', 'male')
2018-07-08 13:50:05,008 INFO sqlalchemy.engine.base.Engine INSERT INTO winners (name, category, year, nationality, sex) VALUES (?, ?, ?, ?, ?)
2018-07-08 13:50:05,009 INFO sqlalchemy.engine.base.Engine ('Marie Curie', 'Chemistry', 1911, 'Polish', 'female')
2018-07-08 13:50:05,011 INFO sqlalchemy.engine.base.Engine COMMIT

In [12]:
session.query(Winner).count()

2018-07-08 13:50:05,166 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-07-08 13:50:05,169 INFO sqlalchemy.engine.base.Engine SELECT count(*) AS count_1
FROM (SELECT winners.id AS winners_id, winners.name AS winners_name, winners.category AS winners_category, winners.year AS winners_year, winners.nationality AS winners_nationality, winners.sex AS winners_sex
FROM winners) AS anon_1
2018-07-08 13:50:05,170 INFO sqlalchemy.engine.base.Engine ()

3

In [13]:
result = session.query(Winner).filter_by(nationality='Swiss')
list(result)

2018-07-08 13:50:05,342 INFO sqlalchemy.engine.base.Engine SELECT winners.id AS winners_id, winners.name AS winners_name, winners.category AS winners_category, winners.year AS winners_year, winners.nationality AS winners_nationality, winners.sex AS winners_sex
FROM winners
WHERE winners.nationality = ?
2018-07-08 13:50:05,343 INFO sqlalchemy.engine.base.Engine ('Swiss',)

In [14]:
def inst_to_dict(inst, delete_id=True):
    dat = {}
    for column in inst.__table__.columns:
        dat[column.name] = getattr(inst, column.name)
    if delete_id:
        dat.pop('id')
    return dat

In [15]:
winner_rows = session.query(Winner)
nobel_winners = [inst_to_dict(w) for w in winner_rows]
nobel_winners

2018-07-08 13:50:05,701 INFO sqlalchemy.engine.base.Engine SELECT winners.id AS winners_id, winners.name AS winners_name, winners.category AS winners_category, winners.year AS winners_year, winners.nationality AS winners_nationality, winners.sex AS winners_sex
FROM winners
2018-07-08 13:50:05,702 INFO sqlalchemy.engine.base.Engine ()

[{'category': u'Physics',
  'name': u'Albert Einstein',
  'nationality': u'Swiss',
  'sex': 'male',
  'year': 1921},
 {'category': u'Physics',
  'name': u'Paul Dirac',
  'nationality': u'British',
  'sex': 'male',
  'year': 1933},
 {'category': u'Chemistry',
  'name': u'Marie Curie',
  'nationality': u'Polish',
  'sex': 'female',
  'year': 1911}]

In [16]:
marie = session.query(Winner).get(3)
marie.nationality = 'French'
session.dirty

IdentitySet([<Winner(name='Marie Curie', category='Chemistry', year='1911')>])

In [17]:
session.commit()

2018-07-08 13:50:06,064 INFO sqlalchemy.engine.base.Engine UPDATE winners SET nationality=? WHERE winners.id = ?
2018-07-08 13:50:06,066 INFO sqlalchemy.engine.base.Engine ('French', 3)
2018-07-08 13:50:06,068 INFO sqlalchemy.engine.base.Engine COMMIT

In [18]:
session.dirty

IdentitySet([])

In [19]:
##session.query(Winner).delete()