In [1]:
import pandas as pd
import pymysql
import sqlalchemy

In [2]:
df = pd.read_csv('/home/tukai/Downloads/bos-2016-reg-csv-tables - bos-2016-reg-csv-tables.csv')

In [3]:
df.head()

,description,industry,level,size,linecode,value
0,Business spent significant time and resource o...,total,0,6–19 employees,LC0301,10617
1,Business spent significant time and resource o...,total,0,6–19 employees,LC0302,16395
2,Business spent significant time and resource o...,total,0,6–19 employees,LC0303,7401
3,Business spent significant time and resource o...,total,0,6–19 employees,LC0304,4896
4,Business spent significant time and resource o...,total,0,6–19 employees,LC0305,13101

In [4]:
user = 'python'
passw = 'Python123$'
host =  '127.0.0.1'
port = 3306

database = 'python' # In previous posts similar to "schema"

table_name = 'nzbos'

conn = pymysql.connect(host=host,
                       port=port,
                       user=user, 
                       passwd=passw,  
                       db=database)

engine = sqlalchemy.create_engine("mysql+pymysql://python:Python123$@127.0.0.1/python",
                            encoding='utf-8', echo=True)

In [8]:
df.to_sql(name=table_name, con=engine, schema=database, if_exists='append', index=False)

2019-02-12 23:37:08,660 INFO sqlalchemy.engine.base.Engine DESCRIBE `python`.`nzbos`
2019-02-12 23:37:08,661 INFO sqlalchemy.engine.base.Engine {}
2019-02-12 23:37:08,667 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-02-12 23:37:08,736 INFO sqlalchemy.engine.base.Engine INSERT INTO python.nzbos (description, industry, level, size, linecode, value) VALUES (%(description)s, %(industry)s, %(level)s, %(size)s, %(linecode)s, %(value)s)
2019-02-12 23:37:08,737 INFO sqlalchemy.engine.base.Engine ({'description': 'Business spent significant time and resource on supplier factors', 'industry': 'total', 'level': 0, 'size': '6–19 employees', 'linecode': 'LC0301', 'value': 10617}, {'description': 'Business spent significant time and resource on labour factors', 'industry': 'total', 'level': 0, 'size': '6–19 employees', 'linecode': 'LC0302', 'value': 16395}, {'description': 'Business spent significant time and resource on technological / equipment factors', 'industry': 'total', 'level': 0, 'size': '6–19 employees', 'linecode': 'LC0303', 'value': 7401}, {'description': 'Business spent significant time and resource on financing factors', 'industry': 'total', 'level': 0, 'size': '6–19 employees', 'linecode': 'LC0304', 'value': 4896}, {'description': 'Business spent significant time and resource on customer related factors', 'industry': 'total', 'level': 0, 'size': '6–19 employees', 'linecode': 'LC0305', 'value': 13101}, {'description': 'Business spent significant time and resource on competition factors', 'industry': 'total', 'level': 0, 'size': '6–19 employees', 'linecode': 'LC0306', 'value': 2907}, {'description': 'Business spent significant time and resource on regulatory factors', 'industry': 'total', 'level': 0, 'size': '6–19 employees', 'linecode': 'LC0307', 'value': 10977}, {'description': 'Business spent significant time and resource on infrastructure factors', 'industry': 'total', 'level': 0, 'size': '6–19 employees', 'linecode': 'LC0308', 'value': 3864}  ... displaying 10 of 7097 total bound parameter sets ...  {'description': 'Reason for increase in compliance costs: other', 'industry': 'total', 'level': 0, 'size': 'total', 'linecode': 'LC1505', 'value': 789}, {'description': "Reason for increase in compliance costs: don't know", 'industry': 'total', 'level': 0, 'size': 'total', 'linecode': 'LC1506', 'value': 2196})
2019-02-12 23:37:09,112 INFO sqlalchemy.engine.base.Engine COMMIT